<ion-header>
  <ion-navbar class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </button>
    <ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
      <h2>
        <b>{{loggedUser.firstname}} {{loggedUser.lastname}}</b>
      </h2>
      <p style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">Perfil</p>
      <ion-avatar item-end>
        <img src="{{loggedUser.imgUrl}}">
      </ion-avatar>
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="general-content" [hidden]="viewState">
		<div class="general-title">Transacciones</div>
		<div class="container" *ngFor="let transaccion of clienteTransactions">
			<ion-item>
				<ion-row>
					<ion-col>ID: {{transaccion.id}} </ion-col>
					<ion-col>Fecha y hora: {{transaccion.updatedAt | date:'short'}}</ion-col>
				</ion-row>
				<ng-container *ngFor="let mission of clienteMissions">
					<ng-container *ngIf="mission.id == transaccion.FvfavorId">
						<ion-row>
							<ion-col>Favor: {{mission.description}} </ion-col>
							<ion-col>Valor transferido: {{mission.durationhours * mission.price}} </ion-col>
						</ion-row>
					</ng-container>
				</ng-container>
				<ion-row>
					<ion-col>TC :
						<ng-container *ngFor="let cc of CreditCards">
							<ng-container *ngIf="cc.id == transaccion.FvcreditcardId">
								{{cc.number}}
							</ng-container>
						</ng-container>
					</ion-col>
					<ion-col>Estado:
						<ng-container *ngFor="let transactionState of transactionStates">
							<ng-container *ngIf="transactionState.id == transaccion.FvtransactionstateId">
								{{transactionState.name}}
							</ng-container>
						</ng-container>
					</ion-col>
				</ion-row>
			</ion-item>
		</div>
	</div>
	<page-favor-state [hidden]="!viewState"></page-favor-state>
	<ion-col col-12 [hidden]="!viewState">
		<button ion-button block color="dark" (click)="changeViewList()">Volver</button>
	</ion-col>
</ion-content>
