<ion-header>
  <ion-navbar class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </button>
    <ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
      <h2>
        <b>{{loggedUser.firstname}} {{loggedUser.lastname}}</b>
      </h2>
      <p style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">Perfil</p>
      <ion-avatar item-end>
        <img src="{{loggedUser.imgUrl}}">
      </ion-avatar>
    </ion-item>
  </ion-navbar>
</ion-header>

<!--
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tarjeta de crédito</ion-title>
  </ion-navbar>
</ion-header>
-->
<ion-content padding>
  <credit-card-list *ngIf="listActive === true" #ccl></credit-card-list>
  <credit-card-detail *ngIf="detailActive == true" #ccd (backToList)="volver()"></credit-card-detail>
  <ion-col col-12>
    <button ion-button *ngIf="listActive === true" block color="dark" (click)='activeDetails()'>Agregar tarjeta</button>
    <button ion-button *ngIf="detailActive == true" block color="dark" (click)='volver()'>Volver</button>
  </ion-col>
</ion-content>