<ion-header>
  <ion-navbar class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span class="title">Registro de usuario</span>
    <img src="assets/imgs/logo-mini.png" class="logo-header">
  </ion-navbar>
</ion-header>
<ion-content text-center>
  <ion-row>
    <img src="assets/imgs/coverApp.jpg" class="logotipe">
  </ion-row>
  <form>
    <ion-item>
      <ion-label stacked color="primary">Nombre de usuario (sin espacios)</ion-label>
      <ion-input type="text" [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">Clave</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>


    <div padding>
      <button type="submit" color="dark" ion-button block (click)="SignIn()">
        Entrar
      </button>
    </div>

  </form>
</ion-content>