<form [formGroup]="cardGroup" (ngSubmit)="guardar()">
  <div class="general-content">
    <div class="general-title">Datos de la tarjeta</div>
    <div class="general-text">El monto valorado en tu misión solo será debitado una vez su Salvadía haya completado la misión y tu aceptes a conformidad
      el servicio</div>
    <div class="container">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="primary">Franquicia</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-select class="max-select" formControlName="franchise" name="franchise" placeholder="Franquicia">
            <ion-option value="{{bank.id}}" *ngFor="let bank of lstBanks.rows">{{bank.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-12>
          <input [textMask]="{mask: mask}" type="text" placeholder="No. de tarjeta" formControlName="number" name="number" class="ion-input"
          />
        </ion-col>
        <ion-col col-8>
          <ion-label stacked color="primary">Vencimiento</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label stacked color="primary">CCV</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-datetime placeholder="Mes" displayFormat="MM" formControlName="expirationMonth" cancelText="Cancelar" doneText="Aceptar"
            name="expirationMonth"></ion-datetime>
        </ion-col>
        <ion-col col-4>
          <ion-datetime placeholder="Año" displayFormat="YYYY" formControlName="expirationYear" cancelText="Cancelar" doneText="Aceptar"
            [min]="minYear" [max]="2050" name="expirationYear"></ion-datetime>
        </ion-col>
        <ion-col col-4>
          <ion-input type="text" placeholder="Número verificación" formControlName="securityCode" name="securityCode"></ion-input>
        </ion-col>
        <ion-col col-12>
          <ion-input type="text" placeholder="Nombre en la tarjeta" name="name" formControlName="name"></ion-input>
        </ion-col>
        <ion-col col-12>
          <button ion-button block color="dark" type="submit" [disabled]="!cardGroup.valid">Guardar</button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</form>