<ion-header>
  <ion-navbar class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </button>
    <ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
      <h2>
        <b>{{loggedUser.firstname}} {{loggedUser.lastname}}</b>
      </h2>
      <p style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">Perfil</p>
      <ion-avatar item-end>
        <img src="{{loggedUser.imgUrl}}">
      </ion-avatar>
    </ion-item>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="create">
        Crear una Mision
      </ion-segment-button>
      <ion-segment-button value="list" (click)="changeViewList()" #changeToList>
        mis misiones
        <ion-icon name="refresh" class="refresh-misions"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'list'">
      <page-favor-list [hidden]="!viewList" (viewPostulantsEvent)="changeViewPostulants($event)" (viewStateEvent)="changeViewState($event)"
        #fl></page-favor-list>
      <page-favor-postulant [hidden]="!viewPostulants" (viewProfileEvent)="changeViewProfile($event)" (viewListEvent)="changeViewList()"
        #fp></page-favor-postulant>
      <page-profile [hidden]="!viewProfile" (viewPostulantsEvent)="changeViewPostulants($event)" (viewListEvent)="changeViewList()"
        #pr></page-profile>
      <page-favor-state [hidden]="!viewState" #fs></page-favor-state>
      <ion-col col-12 *ngIf="viewPostulants">
        <button ion-button block color="dark" (click)="changeViewList()">Volver</button>
      </ion-col>
    </ion-list>
    <ion-list *ngSwitchCase="'create'">
      <page-favor-detail (viewListEvent)="viewAlgoEvent()"></page-favor-detail>
    </ion-list>
  </div>
</ion-content>