<div class="general-content">
  <div class="general-title">Vamos a buscar el Salvadía ideal para ti</div>
  <div class="general-text">Por eso necesitamos algunos detalles importates para poder ayudarte con tu misión</div>

  <div *ngIf="hideRegisterCreditoFor" class="general-title">Debes registrar una tarjeta de crédito para iniciar la Búsqueda</div>


  <div class="container" *ngIf="cuponApplied">
      <ion-row>
        <ion-col col-12><div class="general-text">{{cuponAppliedResult}}</div></ion-col>        
      </ion-row>
    </div>

  <div class="container" *ngIf="hideCuponForm">
    <ion-row>
      <ion-col col-12><ion-label stacked color="primary">Puedes aplicar un cupon de descuento</ion-label></ion-col>
      <ion-col col-12><ion-label stacked color="primary">* Válido por 1 hora</ion-label></ion-col>
      <ion-col col-12><ion-input type="text" [(ngModel)]="cupon" value="" placeholder="cupon" name="cupon"></ion-input></ion-col>
      <ion-col col-12><button ion-button color="primary" (click)="iHaveCupon()">Aplicar cupón</button></ion-col>
    </ion-row>
  </div>
  <br>
  <form [formGroup]="favorGroup" (ngSubmit)="guardar()">
    <div class="container">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="primary">Descripción de la misión</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-label stacked color="primary">Categoría</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-select class="max-select" formControlName="categoryId" name="categoryId">
            <ion-option value="{{favorType.id}}" *ngFor="let favorType of lstFavorTypes.rows">{{favorType.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-12>
          <ion-textarea placeholder="Pasear a mi perro" autosize formControlName="description" name="description" ></ion-textarea>
        </ion-col>
      </ion-row>
    </div>
    <br/>
    <div class="container">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="primary">Ubicación y horario</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-label stacked color="primary">Ciudad</ion-label>
        </ion-col>
        <ion-col col-12>
          <ion-select class="max-select" formControlName="cityId" name="cityId">
            <ion-option value="{{city.id}}" *ngFor="let city of lstCities.rows">{{city.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-12>
          <ion-label stacked color="primary">Dirección</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-select class="max-select" formControlName="addressPrincipalType" name="addressPrincipalType">
            <ion-option value="{{addressType.id}}" *ngFor="let addressType of lstAddressType.rows">{{addressType.name}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-6>
          <ion-input type="text" value="" placeholder="123a" formControlName="addressPrincipal" name="addressPrincipal"></ion-input>
        </ion-col>
        <ion-col col-1 center>
          <ion-label>#</ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-input type="text" value="" placeholder="Ej: 23a" formControlName="addressDefinition" name="addressDefinition"></ion-input>
        </ion-col>
        <ion-col col-1>
          <ion-label>-</ion-label>
        </ion-col>
        <ion-col col-5>
          <ion-input type="text" value="" placeholder="Ej: 12" formControlName="addressDefinitionComplement" name="addressDefinitionComplement"></ion-input>
        </ion-col>
        <ion-col col-12>
          <ion-input type="text" value="" placeholder="Ej: Apartamento 101" formControlName="addresComplement" name="addresComplement"></ion-input>
        </ion-col>
        <ion-col col-12>
          <ion-label stacked color="primary">Qué día y a qué hora lo necesitas?</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">Fecha</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">Hora</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-datetime placeholder="DD/MM/YYYY" displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Aceptar" [min]="minYear"
            [max]="2050" formControlName="date" name="date"></ion-datetime>
        </ion-col>
        <ion-col col-6>
          <ion-datetime placeholder="HH:MM" displayFormat="HH:mm" cancelText="Cancelar" doneText="Aceptar" [min]="minYear" [max]="2050"
            formControlName="hour" name="hour"></ion-datetime>
        </ion-col>
      </ion-row>
    </div>
    <br/>
    <div class="container">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="primary">Valor total de la misión</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">Valor por hora</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">No. de horas</ion-label>
        </ion-col>
        <ion-col col-6>
          <input class="ion-input" currencyMask [options]="{ prefix: 'COP ', thousands: '.', decimal: ',', precision: 0 }" formControlName="price"
            name="price" />
        </ion-col>
        <ion-col col-6>
          <ion-input type="number" min="1" placeholder="1" formControlName="hours" #hours></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <ion-col col-12>
      <button ion-button block color="dark" type="submit" [disabled]="!favorGroup.valid || hideRegisterCreditoFor">Buscar Salvadía</button>
        <div *ngIf="hideRegisterCreditoFor" class="general-title">Debes registrar una tarjeta de crédito para iniciar la Búsqueda</div>
    </ion-col>
  </form>
</div>