<div style="text-align: center;">
    <img src="assets/imgs/BuscandoSalvadia.gif">
</div>
<div class="general-content">
    <div class="general-title">Salvadías interesados en tu misión</div>
    <div class="container" *ngFor="let postulant of lstPostulants.rows">
        <ion-row>
            <ion-col col-4>
                <img src="{{urlBase}}/fvusers/{{postulant.Fvuser.id}}/img" class="img-postulant" />
            </ion-col>
            <ion-col col-8>
                <ion-row>
                    <ion-col col-12>
                        <strong>{{postulant.Fvuser.firstname}} {{postulant.Fvuser.lastname}}</strong>
                    </ion-col>
                    <ion-col col-7>Calificación:</ion-col>
                    <ion-col col-5>{{postulant.statistics ? postulant.statistics.averageCalifications : '0'}}</ion-col>
                    <ion-col col-7>Opiniones</ion-col>
                    <ion-col col-5>{{postulant.statistics ? postulant.statistics.sumOpinions : '0'}}</ion-col>
                    <ion-col col-7>Servicios</ion-col>
                    <ion-col col-5>{{postulant.statistics ? postulant.statistics.countFavors : '0'}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-12 text-center>
                <button ion-button block (click)="changeViewProfile(postulant)" color="light" small>Perfil</button>
            </ion-col>
            <ion-col col-12 text-center>
                <button ion-button block (click)="acceptPostulant(postulant.id)" small>Elegir</button>
            </ion-col>
        </ion-row>
    </div>
</div>