page-favor-postulant {
    .container{
        margin: 10px 0px;
    }
    .img-postulant{
        border-radius: 100%;
        max-width: 100px;
        width: 100%;
        max-height: 100px;
    }
}
