page-profile {
    .element-value{
        font-weight: 900;
    }
    .img-profile{
        border-radius: 50%;
        border:1px solid #999;
        width: 100%;
        max-width: 200px;
    }
    .name{
        font-size: 24px!important;
        font-weight: 900;
        color:#000;
    }
    .summary{
        font-style: italic;
        padding: 5px;
        border-radius: 5px;
        background: #555555;
        color: #fff;
    }
    .opinion{
        border-bottom: 1px solid #206389;
        margin: 10px 0px;
        padding: 10px 0px;
        text-align: center;
    }
}
