<div class="general-content">
  <div class="container">
    <ion-row>
      <ion-col col-4 padding-top>
        <button ion-button block (click)="changeViewPostulants(favorId)" color="light" small>Volver</button>
      </ion-col>
      <ion-col col-12>
        <div class="general-title">Perfil
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        <img class="img-profile" src="{{urlBase}}/fvusers/{{user?.id}}/img" />
      </ion-col>
      <ion-col col-12 text-center>
        <span class="name">{{user?.firstname}} {{user?.lastname}}</span>
      </ion-col>
      <ion-col col-12>
        <div class="summary">
          <ion-row>
            <ion-col col-12>
              <span>Calificación:</span>
              <span class="element-value">{{user?.statistics?.averageCalifications}}</span>
            </ion-col>
            <ion-col col-12>
              <span>Opiniones:</span>
              <span class="element-value">{{user?.statistics?.sumOpinions}}</span>
            </ion-col>
            <ion-col col-8>
              <span>Servicios:</span>
              <span class="element-value">{{user?.statistics?.countFavors}}</span>
            </ion-col>
            <ion-col col-4>
              <button ion-button block (click)="acceptPostulant()" color="light" small>Elegir</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-12>
        <ion-segment [(ngModel)]="tab">
          <ion-segment-button value="who">
            ¿Quién soy?
          </ion-segment-button>
          <ion-segment-button value="opinion">
            Opiniones
          </ion-segment-button>
        </ion-segment>

        <div [ngSwitch]="tab">
          <ion-list *ngSwitchCase="'who'">
            <p>{{user?.profile}}</p>
          </ion-list>
          <ion-list *ngSwitchCase="'opinion'">
            <div *ngFor="let opinion of user.opinions" class="opinion">
              {{opinion?.opinion}}
            </div>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>