page-misiones-salvadia {

	.toolbar-background{
		background: #e34747;
		color: #fff;
	}

	ion-col{
		padding: 0px !important;
		font-size: 10px !important;

		b {
			font-size: 10px !important;
		}
	}
	.container{
		margin-bottom: 10px;
	}
}