<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
			<h2>
				<b>{{loggedUser.firstname}} {{loggedUser.lastname}}</b>
			</h2>
			<p style="background: #e34747; color: #fff;">Perfil</p>
			<ion-avatar item-end>
				<img src="{{loggedUser.imgUrl}}">
			</ion-avatar>
		</ion-item>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<div class="general-content" [hidden]="viewState">
		<div class="general-title">Misiones</div>
		<div class="container" *ngFor="let mission of missions">
			<ng-container *ngFor="let user of users">
				<ion-item *ngIf="user.id == mission.FvuserId">
					<ion-row>
						<ion-col>
							<b>{{mission.createdAt | date:'longDate'}}</b>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Estado: </ion-col>
						<ion-col>
							<label *ngIf="mission.FvfavorstateId == 1">Pendiente</label>
							<label *ngIf="mission.FvfavorstateId == 2">Asignado</label>
							<label *ngIf="mission.FvfavorstateId == 3">Ejecución</label>
							<label *ngIf="mission.FvfavorstateId == 4">Completado</label>
							<label *ngIf="mission.FvfavorstateId == 5">Exitoso</label>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col>Usuario: </ion-col>
						<ion-col>{{user.firstname | uppercase }} {{user.lastname | uppercase }}</ion-col>
					</ion-row>

					<ion-avatar item-end *ngIf="mission.FvfavorstateId > 1 && mission.FvfavorstateId!=5">
						<button ion-button (click)='estadoMision(mission.id);'>
							<ion-icon name="open"></ion-icon>
						</button>
					</ion-avatar>
				</ion-item>
			</ng-container>
			<ion-card-content>
				<ion-row>
					<ion-col>{{mission.description}}</ion-col>
				</ion-row>
			</ion-card-content>
		</div>
	</div>
	<page-favor-state [hidden]="!viewState"></page-favor-state>
	<ion-col col-12 [hidden]="!viewState">
		<button ion-button block color="dark" (click)="changeViewList()">Volver</button>
	</ion-col>
</ion-content>