<ion-header>
  <ion-navbar class="panelmorado">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align=rigth" class="titulo">LOGO</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="text-align: center">

</ion-content>