page-favor-list {
    
    .mision-card{
        margin: 10px 0px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 0px 0px!important;
    }
    .mision-date{
        color: #2e4ea5;
        font-weight: 900;
    }
    ion-label{
        display: inline-block;
        margin: 0px 0px 0px -7px!important;
        line-height: 7px;
        padding: 2px;
        font-size: 16px!important;
        font-weight: 900;
    }
    .ejecucion{
        background: #5ebadd;
        *{
            color: white!important;
            *{
                color: white!important;
            }
        }
        .separator{
            border-bottom: 1px solid white!important;
        }
    }
    .exitoso{
        background: #ddd;
    }
}
