<ion-card *ngFor="let favor of lstFavors.rows" class="mision-card {{favor.FvfavorstateId === 3 ? 'ejecucion' : (favor.FvfavorstateId === 5 ? 'exitoso' : '') }}">
  <ion-row>
    <ion-col col-9>

      <ion-row>
        <span class="mision-date">{{favor.datefavor | slice:0:10}}</span>
      </ion-row>
      <ion-row>

        <ion-col col-12>
          <ion-label color="primary">Estado</ion-label>
          <span *ngIf="favor.FvfavorstateId == 1">Pendiente</span>
          <span *ngIf="favor.FvfavorstateId == 2">Asignado</span>
          <span *ngIf="favor.FvfavorstateId == 3">Ejecución</span>
          <span *ngIf="favor.FvfavorstateId == 4">Completado</span>
          <span *ngIf="favor.FvfavorstateId == 5">Exitoso</span>
        </ion-col>

      </ion-row>
    </ion-col>
    <ion-col col-3 text-right>
      <button ion-button icon-only (click)="viewPostulants(favor.id)" *ngIf="favor.FvfavorstateId == 1" color="primary-favor">
        <ion-icon name="eye"></ion-icon>
      </button>
      <button ion-button icon-only (click)="viewState(favor.id)" *ngIf="favor.FvfavorstateId != 1 && favor.FvfavorstateId < 5" color="primary-favor">
        <ion-icon name="git-network"></ion-icon>
      </button>
    </ion-col>

    <ion-col col-12>
      <div class="separator"></div>
      <span>{{favor.description}}</span>
    </ion-col>
  </ion-row>
</ion-card>