<ion-content>
  <ion-row>
    <img src="assets/imgs/coverApp.jpg" class="logo">
  </ion-row>
  <ion-row padding>
    <ion-col col-12 text-center margin-top>
      Encuentra la persona que te ayudará a hacer practicamente
      <strong>lo que quieras</strong>
    </ion-col>
    <ion-col col-12 text-center>¿Qué te interesa?</ion-col>
    <ion-col col-12>
      <div class="interest" (click)="newUser()">
        <div class="title">
          <strong>Necesitas</strong> un Salvadia</div>
        <div class="description">Publicar tu oferta</div>
      </div>
    </ion-col>
    <ion-col col-12>
      <div class="interest" (click)="newSalvadia()">
        <div class="title">
          <strong>Ser</strong> un Salvadia</div>
        <div class="description">Quiero ser un Salvadia</div>
      </div>
    </ion-col>
    <ion-col col-12 text-center>
      <span class="action" (click)="login()">Login</span> ó crear cuenta
      <span class="action" (click)="newUser()">Aquí</span> <br><br>
      <span class="action" (click)="newPassword()">Olvide mi contraseña</span>
    </ion-col>
  </ion-row>
</ion-content>