<ion-row>
    <ion-col col-12 >
        <ion-row *ngFor="let creditCard of lstCreditCard.rows;" class="general-table-row">
          <ion-col col-3 style="text-align: center;">
            {{creditCard.Fvbank.name}}
          </ion-col>
          <ion-col col-6 style="text-align: center;">
            **** {{creditCard.number}}
          </ion-col>
          <ion-col col-3 style="text-align: center;">
            <button ion-button icon-start (click)='DeleteCC(creditCard, creditCard.number)'>
              <ion-icon name="trash"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="lstCreditCard.count == 0;">
          No hay registros
        </ion-row>
    </ion-col>
</ion-row>
