<ion-content>
  <ion-row>
    <img src="assets/imgs/coverApp.jpg" class="logo">
  </ion-row>
  <ion-row padding>
    <ion-col col-12 text-center margin-top>
      Recupera 
      <strong>tu contraseña</strong>
    </ion-col>
    <ion-col col-12 text-center>Escribe tu Email:</ion-col>
    <ion-col col-12>
        <ion-item>
          <ion-label color="primary" >Email:</ion-label>
             <ion-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="nombre@correo"></ion-input>
                    
        </ion-item>
      
    </ion-col>    
    <ion-col col-12 text-center>
        <div class="interest" (click)="recoverPassword()">
            <div class="title">
              <strong>Recuperar</strong> ahora</div>           
          </div>
     
    </ion-col>
  </ion-row>
</ion-content>