page-new-password {
    .logo{
        width: 100%;
        height: 100%;
        //max-height: 300px;
    }
    .interest{
        cursor: pointer;
        background: #333;
        color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        width: 70%;
        margin: 20px auto;
    }
    .action{
        cursor: pointer;
        color: #3d0694;
        font-weight: 900;
    }
    .scroll-content{
        background: #c8e9fb;
    }

    
}

.salvadiaConfirm{
    .alert-wrapper{
        border-radius: 5px;
    }
    .alert-head{
        text-align: center;
    }
    .alert-button-group{
        padding: 0px;
        .alert-button{
            width: 70%;
            display: block;
            background: #333;
            color: white;
            border-radius: 5px;
            margin: 0px auto 10px auto;
            .button-inner{
                text-align: center;
                display: block;
            }
        }
    }
}
