// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

*{
  font-size: 15px;
}
ion-label{
  font-size: 14px!important;
}
ion-input,ion-select,ion-datetime,ion-textarea{
  border: 1px solid #ddd;
  border-radius: 5px;
}
.container{
  color: #777;
  background: #fff;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.container *{
  font-size: 13px!important;
}
.ion-input{
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 13px  10px;
  text-align: left;
}
.general-content {
  background: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.general-table-row{
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1px 0px 1px 0px;
}
.general-text{
  margin: 20px 0px 20px 0px;
  text-align: center;
  color: #777;
}
.general-title{
  text-align: center;
  color: #2e4ea5;
  font-size: 20px!important;
  font-weight: 900;
  text-shadow: 0px 0px 0px #ddd;
  margin: 20px 0px 20px 0px;
}
.max-select{
  max-width: 100% !important;
}
.logo-header{
  float: right;
  border-radius: 100%;
  border: 2px solid rgba(255,255,255,0.7);
  height: 40px;
  margin: 4px;
}
.panel-morado{
  .bar-button{
    color: white!important;
  }
  .toolbar-background{
    background: -webkit-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
    background: -o-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
    background: -ms-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
    background: -moz-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
    background: linear-gradient(98deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
    color: #fff;
  }
  .title{
    color: white;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 12px 0px 10px 10px;
  }
}
.separator{
  width: 100%;
  margin: 5px 0px;
  display: block;
  border-bottom: 1px solid #999;
}