page-sign-up-page {
       
}
.salvadiaConfirm{
    .alert-wrapper{
        border-radius: 5px;
    }
    .alert-head{
        text-align: center;
    }
    .alert-button-group{
        padding: 0px;
        .alert-button{
            width: 70%;
            display: block;
            background: #333;
            color: white;
            border-radius: 5px;
            margin: 0px auto 10px auto;
            .button-inner{
                text-align: center;
                display: block;
            }
        }
    }
}