<ion-header>
  <ion-navbar class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <span class="title">Registro de usuario</span>
    <img src="assets/imgs/logo-mini.png" class="logo-header">
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
    <ion-row>
      <ion-col col-12 text-center>
        <!--<img class="img-profile" src="{{urlBase}}/fvusers/{{user?.id}}/img" />-->
        <img class="img-profile" [src]="pathImage" />
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeofuser === false">
      <ion-col col-12>
        <button color="dark" ion-button (click)="getImage()">
          Cambiar Imagen
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input type="text" [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" placeholder="Nombres"></ion-input>
      </ion-col>
      <ion-col col-6>
        <ion-input type="text" [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}" placeholder="Apellidos"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input type="email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Correo"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-input type="text" [(ngModel)]="user.login" [ngModelOptions]="{standalone: true}" placeholder="Nombre de usuario"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" placeholder="Contraseña"></ion-input>
      </ion-col>
      <ion-col col-6>
        <ion-input type="password" [(ngModel)]="user.passwordConfirm" [ngModelOptions]="{standalone: true}" placeholder="Confirmar contraseña"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
          <ion-input [(ngModel)]="user.telefono" name="telefono" placeholder="Telefono"></ion-input>
        </ion-col>
      </ion-row>
    <ion-row *ngIf="typeofuser === true">
      <ion-col col-12>
        Seleccione su Destreza:
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeofuser === true">
      <ion-col col-12>
        <ion-select class="max-select" [(ngModel)]="favorTypeSelected">
          <ion-option value={{favorType.id}} *ngFor="let favorType of favorTypes">{{favorType.name}}</ion-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="typeofuser === true">
      <ion-col col-12>
        <ion-textarea rows="3" maxLength="500" [(ngModel)]="user.profile" name="profile" placeholder="Sobre mi"></ion-textarea>
      </ion-col>
    </ion-row>
    <div padding>
      <button type="submit" color="dark" ion-button (click)="SignUp()">
        Guardar información
      </button>
    </div>
</ion-content>