<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon style="color: #fff;" name="menu"></ion-icon>
		</button>
		<ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
			<h2>
				<b>{{loggedUser.firstname}} {{loggedUser.lastname}}</b>
			</h2>
			<p style="background: #e34747; color: #fff;">Perfil</p>
			<ion-avatar item-end>
				<img src="{{loggedUser.imgUrl}}">
			</ion-avatar>
		</ion-item>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<p align="center" style="color: navy; font-weight: bold; font-size: x-large;">
		Estas personas buscan un Salvadía cerca
	</p>
	<ion-card *ngFor="let mission of missions">
		<ng-container *ngFor="let user of users">
			<ion-item *ngIf="user.id == mission.FvuserId">
				<ion-avatar item-start>
					<img src="assets/imgs/474001632.jpg">
				</ion-avatar>
				<h2>
					<b>{{user.firstname | uppercase }} {{user.lastname | uppercase }}</b>
				</h2>
				<p>Calificación</p>
				<ion-avatar item-end>
					<button ion-button (click)='confirmMission(mission.description, mission.id, loggedUser.id);'>
						<ion-icon name="open"></ion-icon>
					</button>
				</ion-avatar>
			</ion-item>
		</ng-container>

		<ion-card-content>
			<ion-row>
				<ion-col>
					<b>Fecha y hora requerido: </b>
				</ion-col>
				<ion-col>{{mission.datefavor | slice:0:10}} {{mission.datefavor | slice:11:16}}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Dirección:</b>
				</ion-col>
				<ion-col>
					<ng-container *ngFor="let address of addresses">
						<ng-container *ngIf="address.id == mission.FvaddressId">

							<ng-container *ngFor="let addressField of addressFields">
								<ng-container *ngIf="addressField.id == address.FvaddressfieldId">
									{{addressField.name}}
								</ng-container>
							</ng-container>
							
							<ng-container *ngIf="mission.FvfavorstateId==1">
								{{address.field2}} # {{address.field3}} ..
							</ng-container>
							<ng-container *ngIf="mission.FvfavorstateId>1">
								{{address.field2}} # {{address.field3}} - {{address.field4}}. {{address.complement}} 
							</ng-container>
							

							<ng-container *ngFor="let city of cities">
								<ng-container *ngIf="city.id == address.FvcityId">
									{{city.name}}
								</ng-container>
							</ng-container>

						</ng-container>
					</ng-container>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Ultima actualización:</b>
				</ion-col>
				<ion-col>{{mission.updatedAt | date:'longDate'}}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Categoría:</b>
				</ion-col>
				<ion-col>
					<ng-container *ngFor="let missionType of missionTypes">
						<ng-container *ngIf="missionType.FvfavorId == mission.id">
							<ng-container *ngFor="let type of types">
								<ng-container *ngIf="type.id == missionType.FvfavortypeId">
									<ion-row>
										<ion-col>{{type.name}}</ion-col>
									</ion-row>
								</ng-container>
							</ng-container>
						</ng-container>
					</ng-container>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Horas:</b>
				</ion-col>
				<ion-col>{{mission.durationhours}}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Valor por hora:</b>
				</ion-col>
				<ion-col>{{mission.price}}</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<b>Tarea:</b>
				</ion-col>
				<ion-col>{{mission.description}}</ion-col>
			</ion-row>
		</ion-card-content>
	</ion-card>
</ion-content>