page-favor-list-modal {
    .panel-morado{
        .bar-button{
          color: white!important;
        }
        .toolbar-background{
          background: -webkit-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
          background: -o-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
          background: -ms-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
          background: -moz-linear-gradient(352deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
          background: linear-gradient(98deg, rgb(43, 90, 115) 0%, rgb(48, 134, 171) 40%, rgb(48, 134, 174) 86%, rgb(47, 119, 153) 100%);
          color: #fff;
        }
        .title{
          color: white;
          font-size: 18px;
          text-align: center;
          display: inline-block;
          margin: 12px 0px 10px 10px;
        }
      }
}
