<!--
  Generated template for the FavorListModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  class="panel-morado">
    <button ion-button menuToggle>
      <ion-icon style="color: #fff;" name="menu"></ion-icon>
    </button>
    <ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
      <h2>
        <b>Misiones</b>
      </h2>
      
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <page-favor-list></page-favor-list>
</ion-content>
