<ion-tabs [selectedIndex]="myIndex" tabbarPlacement="top" primary tabsLayout="icon-start" (click)="viewMyMisions()">
  <ion-icon name="refresh" class="refresh-misions" (click)="reloadMisions()"></ion-icon>
  <ion-tab [root]="tab1Root" tabTitle="Buscar una misión" tabIcon="search" #bm></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mis misiones" tabIcon="briefcase" #mm></ion-tab>
</ion-tabs>