page-favor-state {
    .container-favor-state ion-label{
        margin: 0px!important;
    }
    .container-favor-state {
        background: #f0f0f0;
    }
    .container-favor-state ion-icon{
        font-size: 45px !important;
        border: 1px solid #aaa;
        color: #aaa;
        width: 60px;
        border-radius: 50%;
        height: 60px;
        padding: 5px 0px 0px 0px;
    }

    ul {
      padding: 0px;
     
      &.rating li {
        padding: 0px 0px 0px 0px !important;
        background: none;
        color: #ffb400 !important;
     
        ion-icon {
            border: 0px solid #aaa;
            font-size: 25px !important;
            width: 25px;
            height: 25px;
        }
      }
    }
}
