<div class="general-content">
  <div class="general-title">Misión</div>
  <div class="general-text">{{favor.description}}</div>
  <form>
    <div class="container">
      <ion-row>
        <ion-col col-12>
          <ion-label stacked color="primary">Ciudad y dirección</ion-label>
        </ion-col>
        <ion-col col-12 *ngIf="address!==undefined && address.Fvcity!==undefined">
          {{address.Fvcity.name}} {{address.Fvaddressfield.name}} {{address.field2}} # {{address.field3}} - {{address.field4}} {{address.complement}}
        </ion-col>
        <ion-col col-12>
          <ion-label stacked color="primary">Fecha y hora</ion-label>
        </ion-col>
        <ion-col col-12>
          {{favor.datefavor | slice:0:10}} {{favor.datefavor | slice:11:16}}
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">Valor por hora</ion-label>
        </ion-col>
        <ion-col col-6>
          <ion-label stacked color="primary">Número de horas</ion-label>
        </ion-col>
        <ion-col col-6>
          $ {{favor.price}}
        </ion-col>
        <ion-col col-6>
          {{favor.durationhours}}
        </ion-col>
        <ion-col col-12>
          <div class="container container-favor-state" margin-top>
            <ion-row>
              <ion-col col-12 text-center>
                <ion-label stacked color="primary" padding margin>
                  <strong padding>Estado</strong>
                </ion-label>
              </ion-col>
              <ion-col col-12 text-center>
                <ion-label stacked color="#fff" padding margin>
                  <strong padding>Datos salvadia</strong>
                </ion-label>
              </ion-col>
              <ion-col col-5 text-center>
                <!--<ion-icon name="person" style="color:black"></ion-icon>-->
                <img class="img-profile" [src]="pathImageSalvadia" />
              </ion-col>
              <ion-col col-7>
                <ion-row>
                  <ion-col col-12>
                    {{salvadia.firstname}} {{salvadia.lastname}}
                  </ion-col>
                  <ion-col col-12>
                    <ion-label stacked color="primary">Telefono</ion-label>
                  </ion-col>
                  <ion-col col-12>
                    {{salvadia.telefono}}
                  </ion-col>
                  <ion-col col-12>
                    {{salvadia.email}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <!--datos usuario-->
              <ion-col col-12 text-center>
                <ion-label stacked color="#fff" padding margin>
                  <strong padding>Datos usuario</strong>
                </ion-label>
              </ion-col>
              <ion-col col-5 text-center>
                <ion-icon name="person" style="color:black"></ion-icon>
              </ion-col>
              <ion-col col-7>
                <ion-row>
                  <ion-col col-12>
                    {{favoruser.firstname}} {{favoruser.lastname}}
                  </ion-col>
                  <ion-col col-12>
                    <ion-label stacked color="primary">Telefono</ion-label>
                  </ion-col>
                  <ion-col col-12>
                    {{favoruser.telefono}}
                  </ion-col>
                  <ion-col col-12>
                    {{favoruser.email}}
                  </ion-col>
                </ion-row>
              </ion-col>
              <!--datos usuario-->

              <ion-col col-12 text-center>
                <ion-label stacked color="#fff" padding margin>
                  <strong padding>Misión</strong>
                </ion-label>
              </ion-col>
              <ion-col col-5 text-center>
                <ion-icon name="settings" style="color:black"></ion-icon>
              </ion-col>
              <ion-col col-7>
                <ion-row>
                  <ion-col col-12>
                    <ion-label stacked color="primary">Estado de la misión </ion-label>
                  </ion-col>
                  <ion-col col-12>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 1">Pendiente</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 2">Asignado</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 3">Ejecución</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 4">Completado</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 5">Exitoso</ion-col>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-12>
                <button ion-button block (click)="notifyMisionStart(favor.id)" color="primary" small *ngIf="favor.FvfavorstateId == 2 && loggedUser.typeofuser == 1">Iniciar misión</button>
              </ion-col>

              <ion-col col-12 text-center>
                <ion-label stacked color="#fff" padding margin>
                  <strong padding>Misión</strong>
                </ion-label>
              </ion-col>
              <ion-col col-5 text-center>
                <ion-icon name="thumbs-up" style="color:black"></ion-icon>
              </ion-col>
              <ion-col col-7>
                <ion-row>
                  <ion-col col-12>
                    <ion-label stacked color="primary">Estado de la misión</ion-label>
                  </ion-col>
                  <ion-col col-12>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 1">Pendiente</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 2">Asignado</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 3">Ejecución</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 4">Completado</ion-col>
                    <ion-col col-6 *ngIf="favor.FvfavorstateId == 5">Exitoso</ion-col>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col col-12>
                <button ion-button block (click)="confirmMisionFinished(favor.id)" color="primary" small *ngIf="favor.FvfavorstateId == 4 && loggedUser.typeofuser == 0">Confirmar finalización y pagar</button>
                <button ion-button block (click)="notifyMisionFinished(favor.id)" color="primary" small *ngIf="favor.FvfavorstateId == 3 && loggedUser.typeofuser == 1">Notificar finalización</button>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="favor.FvfavorstateId === 5" padding>
              <!-- condicionar al estado 5-->
              <ion-col col-12 text-center>
                <div> Califica el servicio de&nbsp;
                  <b>{{salvadia.firstname}} {{salvadia.lastname}}s</b>
                </div>
              </ion-col>
              <ion-col col-12>
                <ion-row>
                  <ion-col col-8>
                    <rating [(ngModel)]="rate" [ngModelOptions]="{standalone: true}" readOnly="{{loggedUser.typeofuser === 1}}" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half"
                      starIconName="star" nullable="false"></rating>
                  </ion-col>
                  <ion-col col-4>
                    <ion-item style="background-color:rgba(0, 0, 0, 0.0); color: #fff;">
                      <ion-avatar item-end>
                        <img src="{{loggedUser.imgUrl}}">
                      </ion-avatar>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-textarea [(ngModel)]="opinion" [ngModelOptions]="{standalone: true}" placeholder="Dejar un opinión">
                    </ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <button ion-button round (click)="onSaveRateOpinion()">Guardar Calificación y Opinión</button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </form>
</div>